/*공통----------------------------------------------------------------------- */


.main_form{
    width: 100%;
}
#side,#main{
    float: left;
}
#side{
    width: 150px;
}
#main{
    width: 1154px;
    color: black;
}
#article{
    margin: 40px;
} */
#article > p , h4 {
    margin: 20px;
    padding: 10px;
  
} 
.button_m{
    font-size:14px; text-decoration:none !important; white-space:nowrap; display:inline-block; vertical-align:baseline; position:relative; cursor:pointer; padding:4px 20px; min-width:64px; border:2px solid #221f1f; color:#fff !important; margin:0 2px; text-align:center; font-weight:bold; border-radius:5px; background-color:#221f1f;
    }
.button_s{
    font-size:12px; text-decoration:none !important; white-space:nowrap; display:inline-block; vertical-align:baseline; position:relative; cursor:pointer; padding:2px 10px; min-width:20px; border:2px solid #221f1f; color:#fff !important; margin:0 2px; text-align:center; font-weight:bold; border-radius:5px; background-color:#221f1f;
}
.mem_content > h1{
    text-align: center;
}
#article > h4{
    text-align: center;
    padding: 20px 0;
}

body,td,input,select,textarea,button {
 font-size:13px;
 line-height:1.5;
 font-family: 'Noto Sans KR', sans-serif; 
 color:#2f3134
}


/*buy_form----------------------------------------------------------------------- */

#buy_tb, #buy_now, #order_tb, #order_list_tb, #return_list_tb,#return_list_detil_tb, #retrn_popup {
    width: 98%;
    border: 1px rgb(206, 205, 205) solid ;
    text-align: left;
    border-collapse: collapse;
    margin: auto;
    border-spacing: 10px
}
td{
    border: 1px rgb(206, 205, 205) solid ;
    padding: 10px;
}
 #del, #ant, #price, #bseq_ea, #stock, .bseq_ea{
    text-align: center;
}

#order_tb> tbody > tr > th, #return_list_tb > tbody > tr> th ,
 #return_list_detil_tb > tbody > tr> th, #order_list_tb > tbody > tr > th,
 #buy_tb > tbody > tr > th{
	background-color: rgb(0,0,0,0.8);
	color: white;
    padding: 8px;
    border: 1px solid rgb(192,192,192);
    border-collapse: collapse;
   font-weight: normal;
}
/*cart_form----------------------------------------------------------------------- */
#cart_tb{
    width: 98%;
    border-collapse: collapse;
    padding: 20px;
    margin: auto;
    text-align: center;
}
.cart_s td {
 border-left: none;
 border-right: none;
 border-top: none;
 border-bottom: none;
}
/*order_form/order_list_form----------------------------------------------------------------------- */
#order_tb, #order_list_tb{
    text-align: center;
}
/*return_form---------------------------------------------------------------------- */
.retrn_main_higt .main_form  {
    height: 2300px;  /* textarea출력후 길이(제일 긴 페이지) */
}
.retrn_radio{
    padding: 30px;
}
.retrn_tb {
    text-align: center;
    margin: auto;
    border-spacing: 10px
   
}
.hwrap > h4 {
    padding: 10px 0;
}
.pwrap > p {
    padding: 10px 0;
}
#retrn_product{
    width: 50%;
     border: 1px rgb(206, 205, 205) solid ;
     border-collapse:collapse ;
 }
#retrn_info_val{
    text-align: left;
}

#retrn_info td, #retrn_account td{
 border-left: none;
 border-right: none;
 border-top: none;
 border-bottom: none;
 padding: 0px;
}
/*return_list_form---------------------------------------------------------------------- */
#return_list_tb, #return_list_detil_tb {
    text-align: center;
}

#retrn_popup_form {
    width: 98%;    
    border-collapse: collapse;
    padding: auto;
    margin: auto;
    color: black;
}
#retrn_popup td{
    border: 1px rgb(206, 205, 205) solid;
    padding: 8px;
    text-align: center;
}
.buy_submit{
    text-align: center;
    margin-top: 30px;
}


/* search */
.bbsSearch {min-height:32px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; z-index:10; width:900px; margin:20px auto 15px;} 
.bbsSearch input[type='text'] {height:32px; box-sizing:border-box; padding:5px 30px 5px 5px; border:0; width:100%; line-height:32px; background-color:#fff; border:1px solid #c7c8cc; vertical-align:middle; }
.bbsSearch input[type='button'] {border:0; height:32px; width:32px; text-indent:-9999em; position:absolute; top:0; right:5px; background:url('/bsp/img/ico_search.png') no-repeat center center ; display:inline-block;}
.bbsSearch .srchSelect .selectric-dSelect {float:left; width:148px; color:#666;}
.bbsSearch .searchWord {float:left; position:relative; width:345px; margin-left:5px;}

.bbsSearch {min-height:32px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; z-index:10; max-width:700px; width:100%; margin:20px auto 15px;} 
.bbsSearch input[type='text'] {height:32px; box-sizing:border-box; padding:5px 30px 5px 5px; border:0; width:100%; line-height:32px; background-color:#fff; border:1px solid #c7c8cc; vertical-align:middle;}
.bbsSearch input[type='button'] {border:0; height:32px; width:32px; text-indent:-9999em; position:absolute; top:0; right:5px; display:inline-block;}
.bbsSearch .srchSelect .selectric-dSelect {float:left; width:148px; color:#666;}
.bbsSearch .searchWord {float:left; position:relative; width:345px; margin-left:5px;}
.bbsSearch .srchSelect {float:left; display:block;  }
.bbsSearch .srchSelect select {height:32px; padding:0 10px; box-sizing:border-box; }

/* 페이징처리 */
.pagenate {width:100%; clear:both;}
.pagenate {text-align:center; margin:20px auto 0;}
.pagenate li {display:inline-block;}
.pagenate li:first-child { margin-left:0px; }
.pagenate li a{display:inline-block; text-decoration:none; padding:0; width:30px; height:30px; line-height:30px; border:1px solid #c7c8cc; box-sizing:border-box; margin-left:-1px; vertical-align:middle;}
.pagenate li a:hover{background:#f6f6f6; font-weight:bold; text-decoration:none !important;}
.pagenate li a.board { text-indent:-9999em; margin-left:4px; }
.pagenate li a.board.first {background:#f3f3f3 url('/img/ico_first.png') no-repeat center center;}
.pagenate li a.board.prev {margin-right:30px; background:#efefef url('/img/ico_prev.png') no-repeat center center;}
.pagenate li a.board.next {margin-left:30px; background:#efefef url('/img/ico_next.png') no-repeat center center;}
.pagenate li a.board.last {background:#f3f3f3 url('/img/ico_last.png') no-repeat center center;}
.pagenate li a.current {color:#fff; background-color:#221f1f; font-weight:bold;  border:1px solid #221f1f;}


/*header_top -------------------------------------------------------*/

.index_wrap { width:1490px;  margin:0 auto; }

.header_top {
    text-align: center;
    height: 140px;
}

.header_top {
    position: relative;
}

.header_searchIcon {
    z-index: 9999;
    position: absolute;
    float: left;
    left: 390px;
    top: 55px;
}

.header_searchIcon img {
    z-index: 9994;
    height: 30px;
    width: 30px;
	cursor:pointer;
}

.header_search > form{
    width: 600px;
    bottom: 50px;
    }
    
    .header_search > form input[type=text]{
    position: absolute;
    top : 50px;
    left: 40px;
    width: 400px;
    height: 40px;
    font-size: 16px;
    padding: 0px 20px 0px 40px;
    border-radius: 40px;
    outline: none;
    border: solid rgb(199, 195, 201) 2px;
    background: url('Search.png') 7px left no-repeat;
    }

.header_logo img {
    position: absolute;
    height: 130px;
    width: 260px;
    left: 640px;
}

.header_login {
    position: absolute;
    right: -200px;
    top: 56px;
    padding-right: 230px;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

.header_login > a {
    padding: 15px;
    color: rgb(109, 107, 107);
}

.header_login > a:hover {
    text-decoration: underline black;
    color: black;
}

/*header_mainMenu ---------------------------------------------------*/

.header_mainMenu {
    position: relative;
    height: 40px;
    width: 1490;
    padding-left: 0px;    
}

.header_mainMenu > ul > li {
    position: relative;
    float: left;
    height: 40px;
    line-height: 40px;
    z-index: 999;
    text-align: center;
    width: 186px;    
}
.navigation{
    height:40px;
}

.header_mainMenu > ul> li > a:hover {
    font-size: 17px;
    color: blueviolet;
}

li {
    list-style: none;   
    position: relative;          
}

.header_mainMenu > ul>  li > a {
    display: block;     
}

.header_depth1 {
    padding: 20px;
 
}

.header_depth1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.header_depth2 {
    background-color: rgb(24, 23, 23);
}


.header_depth2 {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header_depth2 > li > a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: white;
    line-height: 28px;
}

.header_depth2 > li > a:hover {
    font-size: 15px;
    color: #999;
}
	
/* [visual] ------------------------------------------------------------------ */
.index_visual {
    height: 550px;
    text-align: center;         
}

.index_visual > div {
    float: left;
}

.index_sideCategory { 
    width: 150px;
    height: 480px;
    top: 100px;
    /* padding: 10px; */
    margin: 5px;
    margin-top: 40px;
    margin-bottom: 1px;
    border: 1px solid rgb(206, 205, 205);
}

.index_sideCategory > .index_quickCateDetail {
    padding-top: 30px;
}

.index_sideCategory > .index_quickCateDetail > li {
    padding-top: 10px;
}

.index_sideCategory > .index_quickCateDetail > li > a {
    color: black;
}

.index_sideCategory > .index_quickCateDetail > li > a:hover {
    font-size: 16.5px;
}


.index_quickCate {
    width: 148px;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.swiper-container {
    width: 1320px; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    top: 30px;
    
}

.swiper-slide {
	height: 480px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

.swiper-container {
    height: 100%;
}

.swiper-button-prev {
    color: white;
}

.swiper-button-next {
    color: white;
}

/* [visual] - container --------------------------------------------- */

.index_container {
    width: 100%;
}

.index_container > div {     
    float: left;
    position: relative;
    margin-top: 10px;    
}

.index_randomAds {
    z-index: 1;
    border: 1px solid rgb(206, 205, 205);    
    height: 400px;
    width: 20%;
    padding-top: 10px;  
    font-size: 13px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
}

.index_Ads01 > img {
    height: 180px;
    width: 255px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.index_Ads01 {
    border-bottom: 1px solid rgb(206, 205, 205);
}

.index_Ads02 > img {
	margin-top: 25px;
    height: 135px;
    width: 255px;
}

.index_Ads02 > div {
    position: relative;
    float: right;
    padding: 20px;
    padding-top: 5px;
}

.index_Ads01 > .index_ad {
	position : relative;
	padding-right: 10px;
	text-align: right;
	color: #999;
}

.index_Ads02 > .index_ad {
	position : relative;
	padding: 10px 10px 0px 0px;
	text-align: right;
	color: #999;
}


